body.mp{
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	opacity: 0.7;
}
body.sp{
	background-image: url("boat.jpg");
	background-repeat:repeat-y;
	background-size: 100%;
	position:absloute;
	z-index:-1;
}
	
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	opacity: 0.5
}
li{
	float: left;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
}

li a:hover:not(.active){
	background-color: black;
}
a.active{
	color: #FFFF00;
	background-color: #4CAF50;
}

div.gallery{
	margin:8px;
	border: 1px solid #ccc;
	float: left;
	width: auto;
}
div.gallary img{
	width:auto;
	height: auto;
}


